<!DOCTYPE html>
<html ng-app="BrewBook">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BrewBook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body class="container">
    <header>
    <h2>Brew Book</h2>
    <div id="title" ng-show="registered">Hi {{name}} </div>
    </header>
    <section ng-controller="usersController">
      <form ng-submit="createUser()">
        <fieldset class="form-group">
          <label>Username</label>
          <input ng-model="newUser.username" type="text" class="form-control" id="email" placeholder="Enter username">
        </fieldset>
        <fieldset class="form-group">
          <label>Password</label>
          <input ng-model="newUser.password" type="text" class="form-control" id="password" placeholder="Password">
        </fieldset>
        <input type="submit" class="btn btn-primary"></input>
      </form>
    </section>
  </body>
</html>
