body {
  background-color: lightblue;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
}

header {
  background-color: #000;
  padding-top: 20px;
}

h2 {
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
p#member {
  margin: 20px auto;
  text-align: center;
}

#login {
  color: blue;
  text-decoration: underline;
}
